# Dependencies
*/node_modules
node_modules

# Compiled output
**/dist
*/dist
/dist
**/lib
/tmp
/out-tsc

# Environment varibales
.env*
!.env*.example

# Testing reports
testing/mochawesome-report
testing/.nyc_output
testing/coverage
test-management/scripts/__pycache__

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
.history/*
.VSCodeCounter